$box-shadow-button-color: $button-shadow-color-primary;
$box-shadow: $box-shadow-button-color 4px 4px 0 0;
$text-color-button: $text-color-primary;
$button-background-color: $button-background-color-primary;
$button-background-color-disabled: $button-background-color-secondary;
$button-box-shadow-active: $button-active-shadow-color-primary 2px 2px 0 0;