// Background
$header-background: $background-color-primary;
$header-tittle-size: 2.5rem;
$header-tittle-weight: bold;
$header-tittle-align: center;
$header-tittle-vertical-align: middle;

// logo
$logo-header-width: 17%;
$logo-header-min-width: 96px;
$logo-header-max-width: 96px;