// Mixin
// Header
// Body
@mixin fullBody {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: inherit;
}

@mixin member-container {
  margin: 2em 1rem 2em 1rem;
  line-height: 3em;
  border-radius: 10px;
  box-shadow: $box-shadow-member;
  padding: 0em 5em;
}

@mixin separator-line {
  border-bottom: $separator-line;
  text-align: center;
  margin: 0 -5rem 0px -5rem;
}
// footer
