// header
$header-background: #f4f4f4;

// main
$member-background: #f4f4f4;
$box-shadow-color: #26394d;
$box-shadow-member: $box-shadow-color 0px 20px 30px -10px;
// footer
$text-color: #ffffff;
$footer-container-color: #f76c6c;
