// main
$box-shadow-color-primary: #26394d;
$box-shadow-member: $box-shadow-color-primary 0px 20px 30px -10px;
$member-background-color: #f76c6c;
$separator-line-color: #808080;
$separator-line: 0.1px solid $separator-line-color;
// footer
$text-color-on-darkend-color: #ffffff;
$footer-container-color: $member-background-color;

// background color
$background-color-primary: #f4f4f4;
$background-color-secondary: $member-background-color;

/* button */
$button-background-color-primary: $member-background-color;
$button-background-color-secondary: #87898c;
$button-shadow-color-primary: #585555;
$button-active-shadow-color-primary: #000000;
// text
$text-color-primary: white;
// input color
$input-color-primary: $member-background-color;


